/* .contact-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  } */

  .contact-card {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
   
  }